

/* Common resources */
.active{			display: block; }
.noSee{ 			display: none;}
.Altfont{ 			font-family: "Calibri";}
.BlockFix{			display: block; overflow: hidden}
.defBord{ 			border: solid 1px @ColorB; border-radius:5px;  }
.BdZ{ 				border: none; }
.ClearFix { 		clear: both;}
.FLeft{				float:left;}
.FRight{			float:right;}
.FtWN{ 				font-weight: normal;}
.FtWB{ 				font-weight: bold;}
.Lean{      		.MgZ; .PgZ; .BdZ;}     			/* Cleans the element */
.MgZ{				margin:0}
.PgZ{				padding: 0}
.Sprite(@M:0,@E:0){ background: url('../img/sprites.png') @M @E;}
.TAC{ 				text-align: center;}
.TAL{ 				text-align: left;}
.TAR{ 				text-align: right;}

/** Measurement settings  **/
@lineHe: 30px;

/* stage */
@miniImgStripW: (@miniThumbWH+@miniThumbMargin)*10;  					/* mini strip width, multiply by the number of items */
@miniThumbMargin: @lineHe*0.05;
@stageW: (@contW);
@stageStripW: @stageW*3;
@stageStripX:-((@stageStripW)-(@stageW))/2;
@miniThumbWH: @lineHe*2; 		  					/* mini thumbnail width, multiply the number of items */


/* main strip */
@itemCount: 5;
@contW: 450px; 										/* total component width */
@imgStripW: (@thumbWH+12)*(@itemCount);  					/* strip width, multiply the number of items */
@imgStripX: -((@imgStripW)-(@contW))/2;
@galHeight: @thumbWH + @lineHe; 				/* strip height */
@thumbWH: 120px;




/* Colors */
@ColorA: #e6e6e6;
@ColorB: #393939;
@ColorC: #ffffff;
@ColorD: #000;

body,html{
	.Altfont;.TAC;.Lean;
	color: @ColorB;
	width:100%;
	
	p{.TAL;	}
}

#lightbox, .close{
	position:absolute;
	top:0;
	left: 0;
	width:100%;
	height:100%;
	background: rgba(0,0,0,0.4);
	z-index: 9999;
	.close{
		z-index: 98;
	}
}

#stage{
	background: @ColorB;
	border-radius:5px 5px 0 0;
	box-shadow:inset 0 0 10px @ColorD;
	height: auto;
	position:relative;
	width:@stageW;
	top: @lineHe;
	left: -(@stageW/2);
	margin: 0 0 0 50%;
	overflow: hidden;
	
	ul{
		.Lean;
		display: inline-block;
		height: (@stageW/3)*2;
	 	width: @stageW*3;
	 	overflow: hidden;
	 	position:relative;
	 	left: @stageStripX;
	 	z-index: 99;

		li{
			.FLeft;
			margin: 15px 22px;
			width: (@stageW)-(@stageW*0.1);
			height: (@stageW/3)*2;
			
			img{
				.defBord; .TAC;
				border-color: @ColorA;
				max-width: (@stageW)-(@stageW*0.1);
				max-height: (@stageW/3)*2;
			}

			&.hide{
				display:none;
			}
		}
	}


	a{
		.defBord;
		border-color: @ColorA;
		cursor: pointer;
		position: absolute;
		top:50%;
		width:@stageW/10;
		height: 10%;
		background: @ColorA;
		z-index: 999;

		&.goLeft{
			left: 0;
			border-top-left-radius:0;
			border-bottom-left-radius:0;
		}
		&.goRight{
			right:0;
			border-top-right-radius:0;
			border-bottom-right-radius:0;
		}
	}
	/*ul{
		.Lean;
		width: @miniImgStripW;
		height:auto;

		li{
			.Lean;
			display: inline;
			list-style: none;
			
			img{
				.defBord;
				max-width: @miniThumbWH;
				height: @lineHe*1.5;
				border-color: @ColorA;
				margin: @miniThumbMargin;
			}
		}
	}*/
}

.gallery{
	.Lean; .BlockFix;.defBord;.ClearFix;
	background: @ColorB;
	border-color: @ColorA;
	box-shadow:inset 0 0 10px @ColorD;
	height: @galHeight;
	position:relative;
	width:@contW;
	left: -(@contW/2);
	margin: 0 0 0 50%;
	z-index: 999;
	
	/* Image strip */
	ul{
		.Lean;
		left: @imgStripX;
	    position: absolute;
	    top: 10px;
	    width: @imgStripW; 							/*  adds the space between elements, then multiplies by the number of elements */
		
		li{
			.FLeft; .TAR; .Lean; .defBord;
			color: @ColorC;
			border-color: @ColorA;
			display: block;
			background: @ColorC;
			line-height:@lineHe;
			margin: 0 5px;
			padding-top: @thumbWH - @lineHe;
			height: @lineHe;
			width:@thumbWH;

			ul{
				.noSee;
			}
		}
	}
	.leftArrow, .rightArrow,.lb-leftArrow, .lb-rightArrow, {
		background-color: @ColorA;
		cursor: pointer;
		position:relative;
		width: @lineHe;
		padding-top: @galHeight/2;
		height: @galHeight/2;
		z-index: 9999;
	}
	.rightArrow, .lb-rightArrow{
		.FRight;
		box-shadow: -1px 3px 4px @ColorD;
	}
	.leftArrow, .lb-leftArrow{
		.FLeft;
		box-shadow: 1px 3px 4px @ColorD;
	}
}