

/* Common resources */
.active{			display: block; }
.noSee{ 			display: none;}
.Altfont{ 			font-family: "Calibri";}
.BlockFix{			display: block; overflow: hidden}
.defBord{ 			border: solid 1px @ColorB; }
.BdZ{ 				border: none; }
.ClearFix { 		clear: both;}
.FLeft{				float:left;}
.FtWN{ 				font-weight: normal;}
.FtWB{ 				font-weight: bold;}
.Lean{      		.MgZ; .PgZ; .BdZ;}        /* Cleans the element */
.MgZ{				margin:0}
.PgZ{				padding: 0}
.Sprite(@M:0,@E:0){ background: url('../img/sprites.png') @M @E;}
.TAC{ 				text-align: center;}
.TAL{ 				text-align: left;}

/* Measurements */
@thumbWH: 120px;
@lineHe: 30px;
@thumBottom: @thumbWH - @lineHe;
@contW: 420px;
@ctrlHeight: 30px;
@galHeight: @thumbWH + @ctrlHeight;


/* Colors*/
@ColorA: #e6e6e6;
@ColorB: #393939;
@ColorC: #ffffff;

body,html{
	.Altfont;
	.TAC;
	.Lean;
	width:100%;
	
	p{
		.TAL;
	}
}

#gallery{
	.Lean; .BlockFix; .defBord;
	background: @ColorA;
	height: @galHeight;
	position:relative;
	width:@contW;
	left: -(@contW/2);
	margin: 0 0 0 50%;
	
	ul{
		.Lean;
		left: @lineHe;
	    position: absolute;
	    top: 10px;
	    width: (@thumbWH+10px)*6; /* multiply by the number of elements, plus the space between elements*/
		
		li{
			.FLeft; .TAC; .Lean; .defBord;
			display: block;
			background: @ColorC;
			line-height:@lineHe;
			margin: 0 5px;
			padding-top: @thumBottom;
			height: @lineHe;
			width:@thumbWH;

			ul{
				.noSee;
			}
		}
	}
	.leftArrow, .rightArrow{
		.defBord;
		background-color: @ColorC;
		cursor: pointer;
		position:relative;
		width: @lineHe;
		padding-top: @galHeight/2;
		height: @galHeight/2;
		z-index: 9999;
	}
	.rightArrow{
		float: right;
	}
	.leftArrow{
		float: left;
	}
}