

/* Common resources */
.active{			display: block; }
.noSee{ 			display: none;}
.Altfont{ 			font-family: "Calibri";}
.BlockFix{			display: block; overflow: hidden}
.BdZ{ 				border: none; }
.ClearFix { 		clear: both;}
.FLeft{				float:left;}
.FtWN{ 				font-weight: normal;}
.FtWB{ 				font-weight: bold;}
.Lean{      		.MgZ; .PgZ; .BdZ;}        /* Cleans the element */
.MgZ{				margin:0}
.PgZ{				padding: 0}
.Sprite(@M:0,@E:0){ background: url('../img/sprites.png') @M @E;}
.TAC{ 				text-align: center;}
.TAL{ 				text-align: left;}

/* Measurements */
@thumbWH: 120px;
@lineHe: 20px;
@thumBottom: @thumbWH - @lineHe;
@contW: 620px;


/* Colors*/
@ColorA: #e6e6e6;
@ColorB: #393939;
@ColorC: #ffffff;

body,html{
	.Altfont;
	.TAC;
	.Lean;
	width:100%;
	
	p{
		.TAL;
	}
}

div{
	.Lean; .BlockFix;
	background: @ColorA;
	height: 140px;
	position:relative;
	width:@contW;
	left: -(@contW/2);
	margin: 0 0 0 50%;
	
	ul{
		.Lean;
		left: 10px;
	    position: absolute;
	    top: 10px;
	    width: 855px;
		
		li{
			.FLeft; .TAC;
			display: block;
			background: @ColorC;
			border: solid 1px @ColorB;
			line-height:@lineHe;
			padding-top: @thumBottom;
			height: @lineHe;
			width:@thumbWH;

			ul{
				.noSee;
			}
		}
	}
}